.main-cards-container
    display flex
    flex-flow column
    padding-top 10px
    justify-content center
    .grafana-container
        display flex
        justify-content:flex-end
        .grafana-card
            width 380px
            mat-card-title
                font-weight bold
                font-size 24px
            mat-card-actions
                display: flex
            .grafana-content
                display flex
                justify-content space-between
                flex-direction column
    .main-cards-list
        display flex
        flex-flow row
        flex-wrap wrap
        justify-content center
        margin-top 60px
        margin-bottom 65px
        .app-item
            height auto
            flex 0 0 380px
            margin 10px
