
.login-cards-container
    width: 25rem
    mat-form-field
        width: 100%
    position absolute
    top: 50%
    left: 50%
    transform translateX(-50%) translateY(-70%)
    .logo-img
        width: 100%
        background url('../../assets/img/rock.svg') center no-repeat
        height 200px
        background-size 100% 100%
    mat-card
        border-radius 1rem
        margin-left: 5px
        width auto
        mat-card-content
            width 80%
            margin: 0 10%
            .login-btn
                display flex
                justify-content flex-end
                margin-top 2em

           
